@model IEnumerable<Common.Entites.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="PlaceHolderHere"></div>

<section class="content-header">

    <h1>Category List</h1>
    <ol class=" breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Category</a></li>
        <li class="breadcrumb-item active"><a>Category List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <a class="btn btn-primary" asp-action="Create">Add Category</a>
</div>
<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Category Name </th>
                <th> Update </th>
                <th> Delete </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr id="@item.CategoryId">
                    <td> @item.CategoryName </td>
                    <td align="center" valign="middle">
                        <button type="button" class="btn" data-toggle="ajax-modal" data-target="#Edit"
                                data-url="@Url.Action($"Edit/{item.CategoryId}")">
                            <br />
                            <img src="~/images/icons/updates-16.ico" />
                        </button>
                    </td>
                    <td align="center" valign="middle">
                        <button type="button" class="btn" data-toggle="ajax-modal" data-target="#Delete"
                                data-url="@Url.Action($"Delete/{item.CategoryId}")">
                            <br />
                            <img src="~/images/icons/delete-16.ico" />
                        </button>
                    </td>
                </tr>
            </tbody>
        }
        <tfoot>
            <tr>
                <td> Category Name </td>
                <td> Update </td>
                <td> Delete </td>
            </tr>
        </tfoot>
    </table>
</div>

