@model Ecommerce.Models.CartPage.Cart
<div class="" style="display:flex">
    <a class="shoppingbag-button" style="display:block; align-content:center" asp-page="/Cart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <img src="~/images/icons/shoppingbag.png" />
    </a>
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b> <br />
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

</div>
